# NILM Service

{{ template "chart.deprecationWarning" . }}

{{ template "chart.badgesSection" . }}

## Install

```console
helm install my-release foresight-next-ai-charts/nilm
```

{{ template "chart.homepageLine" . }}

{{ template "chart.maintainersSection" . }}

{{ template "chart.sourcesSection" . }}

{{ template "chart.valuesSection" . }}
